#form {
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(135deg, rgb(244, 251, 120), lightgreen, rgb(53, 53, 179));
    width: 100%;
}

#form_input:focus {
    box-shadow: 0 0 5px 0 #E53E11;
    outline: solid 1px aquamarine;
}

  
.submit_btn:hover {
    transition: 0.2s;
    background-color: aquamarine;
    transform: scale(1.1);
}